# Dependencies (will be installed during build)
**/node_modules

# Python virtual environments
**/__pycache__
**/*.pyc
**/venv
**/env

# IDE files
.vscode
.idea

# OS files
.DS_Store

# Git
.git

# Build output (will be generated during build)
frontend/dist

# Logs
*.log
